<div id='translations'>
  <h1>Translations</h1>
  <ul>
    <li><%= link_to_unless_current "Application Translations", translations_path(:show => "application") %></li>
    <li><%= link_to_unless_current "Framework Translations", translations_path(:show => "framework") %></li>
    <li><%= link_to_unless_current "All Translations", translations_path(:show => "all") %></li>
  </ul>

  <% @keys.each do |key| %>
    <%= key %>
    <% Translator.locales.each do |locale| %>
      <%= form_tag translations_path, :id => "#{locale}.#{key}".gsub('.', '-'), :class => "translate", "data-remote" => true, :method => "post" do %>
        <%= hidden_field_tag :key, "#{locale}.#{key}" %>

        <span class='locale'><%= locale %>: </span><%= text_field_tag :value, val = (begin I18n.backend.translate locale, key; rescue; end) %>
        <%= submit_tag "Save", "data-disable-with" => "Saving..." %>
        <% if (default_val = (begin Translator.simple_backend.translate locale, key; rescue; end;)) != val %>
          <%= link_to "Default", '#', "data-recover" => default_val || "" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="footer">
  <div id="shameless">
    Brought to you by <%= link_to "AmberBit" %> Ruby on Rails web development team.
    <br/>
    2010-2011 &copy; Hubert Łępicki &lt;hubert.lepicki@amberbit.com&gt;
  </div>
  <%= link_to image_tag("http://amberbit.com/images/logo.png"), "http://amberbit.com" %>
</div>

<script type="text/javascript">
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents("form")).val($(this).attr("data-recover"));
  });
</script>

