<div id='translations'>
  <h1>Translations</h1>
  <ul>
    <li><a href="#refresh">Refresh</a></li>
  </ul>

  <%= form_tag translations_path, :method => :get do %>
    <%= text_field_tag 'filter', params[:filter], :style => 'background-color:#fff' %>
    <%= radio_button_tag 'show', 'all', params['show'].blank? || params['show'] == 'all' %>
    <%= label_tag 'all'%>
    <%= radio_button_tag 'show', 'framework', params['show'] == 'framework'%>
    <%= label_tag 'framework'%>
    <%= radio_button_tag 'show', 'application', params['show'] == 'application'%>
    <%= label_tag 'application'%>
    <%= radio_button_tag 'show', 'missing', params['show'] == 'missing'%>
    <%= label_tag 'missing'%>
    <%= submit_tag 'Find' %>
  <% end %>

  <% if (params[:filter].present?) %>
    <h2><%= params[:filter] %></h2>
  <% else %>
    <h2>Keys</h2>
  <% end %>
  <% @keys.each do |key| %>
    <%= key %>
    <% Translator.locales.each do |locale| %>
      <%= render :partial => "form", :locals => {:locale => locale, :key => key} %>
    <% end %>
  <% end %>

  <% unless @total_pages < 2 %>
    <% (1..@total_pages).each do |p| %>
      <%= link_to_unless_current p, translations_path(:show => params[:show], :page => p) %>
    <% end %>
  <% end %>
</div>

<div id="footer">
  <div id="shameless">
    Brought to you by <%= link_to "AmberBit" %> Ruby on Rails web development team.
    <br/>
    2010-2011 &copy; Hubert Łępicki &lt;hubert.lepicki@amberbit.com&gt;
  </div>
  <%= link_to image_tag("http://amberbit.com/images/logo.png"), "http://amberbit.com" %>
</div>

<script type="text/javascript">
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents("form")).val($(this).attr("data-recover"));
  });
  $("a[href='#refresh']").live("click", function(event) {
    event.preventDefault();
    $.post( "<%= url_for(:action => 'refresh') %>");
    return false
  });
</script>

